<!doctype html>
<html lang="en">
<head>
    <meta charset="'">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="one">
        <div class="child"></div>
    </div>
    <img src="https://img.pconline.com.cn/images/upload/upc/tx/photoblog/1812/26/c7/125539584_1545834974811_mthumb.jpg" alt="">
</body>
<style>
    .child{
        width: 50px;
        height: 50px;
        background-color: greenyellow;
        position: absolute;
        bottom: 50px;
    }
    .one{
        position: relative;
        padding-bottom: 50px;
        width: 200px;
        height: 200px;
        background-color: pink;
    }
</style>
</html>